---
import Heading from "./Heading.astro";
import image1 from "@/images/header.jpg";
// import image2 from "@/images/person/network.jpg";
import { Image } from "astro:assets";
import Button from "./Button.astro";
---

<section class="" id="ueber-uns">
  <div class="container pt-16 pb-24 md:pb-32 md:pt-24">
    <div class="grid gap-8 md:grid-cols-2">
      <div>
        <h2 class="text-4xl font-bold text-primary">
          22 Jahre Erfahrung im Gartenbau
        </h2>
        <p class="mt-8 text-lg text-primary">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde dolor
          cupiditate quod eos architecto. Laboriosam ducimus reiciendis
          blanditiis quae earum ut, nesciunt officia dolorum aut amet recusandae
          deserunt autem natus. Lorem ipsum, dolor sit amet consectetur
          adipisicing elit. Aperiam itaque commodi quod ea voluptatibus
          consectetur maiores nam voluptates qui, aspernatur voluptate iusto ut
          ratione, beatae non libero, magnam a quibusdam.
        </p>
        <div class="mt-8 text-base [&>a]:inline-block">
          <Button />
        </div>
      </div>
      <div>
        <Image class="mt-8 shadow-sm" src={image1} width={418 * 2} alt="" />
      </div>
    </div>
  </div>
</section>
