---
import image1 from "@/images/erfahrung.jpeg";
// import image2 from "@/images/person/network.jpg";
import { Image } from "astro:assets";
import Button from "./Button.astro";
---

<section class="" id="ueber-uns">
  <div class="container pt-10 pb-24 md:pb-32 md:pt-24">
    <div class="grid gap-8 md:grid-cols-2">
      <div>
        <h2 class="mb-4 text-4xl font-bold text-primary">
          15 Jahre Erfahrung im Gartenbau
        </h2>
        <div class="text-lg text-primary">
          <p class="">
            Nach 15 Jahren Efahrung haben wir uns als Botanicus neu erfunden.
            Wir stehen für für Qualität, Leidenschaft und fachmännische Arbeit
            im Bereich Gartenpflege und Landschaftsbau. Unser erfahrenes Team
            aus München hat sich darauf spezialisiert, grüne Oasen zu schaffen
            und zu pflegen - mit Liebe zum Detail und einem Auge für die
            besonderen Wünsche unserer Kunden.
          </p>
          <p class="mt-2">
            Egal, ob Sie Ihren Garten neu gestalten, Ihr Grundstück für den
            Frühling vorbereiten oder eine regelmäßige Pflege benötigen: Wir
            sind Ihr verlässlicher Partner im gesamten Münchner Raum und den
            umliegenden Gemeinden.
          </p>
          <p class="mt-2">
            Setzen Sie auf unsere Expertise und genießen Sie einen Garten, der
            Ihre Erwartungen übertrifft – das ganze Jahr über!
          </p>
        </div>
        <div class="mt-8 text-base [&>a]:inline-block">
          <Button />
        </div>
      </div>
      <div class="pt-0 md:pt-8">
        <Image class="shadow-sm" src={image1} width={418 * 2} alt="" />
      </div>
    </div>
  </div>
</section>
