---

---

<section>
  <div
    class="relative pt-24 pb-12 bg-no-repeat md:pt-32 md:pb-0 bg-primary"
    style=""
  >
    <div class="absolute top-0 bottom-0 left-0 w-8/12 h-full bg-primary"></div>
    <div class="container relative mx-auto">
      <div class="flex items-center justify-center">
        <div class="grid grid-cols-12 gap-8">
          <div class="flex col-span-12 pt-12 md:col-span-6">
            <div class="">
              <div class="flex flex-col-reverse pt-0">
                <div class="mt-4">
                  <h1
                    class="inline text-5xl leading-tight text-white box-decoration-clone text-light bg-clip-border"
                  >
                    Toni Gartenbau
                  </h1>
                </div>
                <div class="">
                  <h2
                    class="inline p-1 px-2 text-xl font-medium tracking-wide text-white uppercase bg-black box-decoration-clone"
                  >
                    Gartenpflege und Landschaftsbau aus München
                  </h2>
                </div>
              </div>
              <p class="mt-8 text-lg font-medium text-white">
                Ihr Garten braucht „neue Kleider“, Ihr Grundstück einen
                Frühjahrsputz oder ein großes Herbst-Aufräumen? Vielleicht sogar
                regelmäßige Pflege?
              </p>
            </div>
          </div>
          <div
            class="relative z-10 hidden col-span-12 pb-20 md:col-span-6 md:block"
          >
            <img src="/images/header.jpg" alt="Header Bild" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
