---

---

<section>
  <div
    class="relative pt-24 pb-12 bg-no-repeat md:pt-20 lg:pt-32 md:pb-0 bg-primary"
    style=""
  >
    <div class="absolute top-0 bottom-0 left-0 w-8/12 h-full bg-primary"></div>
    <div class="container relative mx-auto">
      <div class="flex items-center justify-center">
        <div class="grid md:gap-8 md:grid-cols-12">
          <div class="flex col-span-12 lg:pt-12 md:col-span-6">
            <div class="">
              <div class="flex flex-col-reverse pt-0">
                <div class="mt-4">
                  <h1
                    class="inline text-5xl leading-tight text-white box-decoration-clone text-light bg-clip-border"
                  >
                    Gartenbau Botanicus
                  </h1>
                </div>
                <div class="">
                  <h2
                    class="inline p-1 px-2 text-xl font-medium tracking-wide text-white uppercase bg-stone-700 box-decoration-clone text-balance"
                  >
                    Gartenpflege und Landschaftsbau aus München
                  </h2>
                </div>
              </div>
              <p class="mt-8 text-lg font-medium text-white">
                Ihr Garten braucht „neue Kleider“, Ihr Grundstück einen
                Frühjahrsputz oder ein großes Herbst-Aufräumen? Vielleicht sogar
                regelmäßige Pflege?
              </p>
            </div>
          </div>
          <div
            class="relative z-10 col-span-12 mt-5 md:mt-0 md:pb-20 md:col-span-6 md:block"
          >
            <img src="/botanicus/header.jpeg" alt="Header Bild" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
