---
import Button from "./Button.astro";

const services = [
  {
    title: "Gartenpflege",
    description:
      "Unsere sorgfältige Gartenpflege sorgt dafür, dass Ihr Grün das ganze Jahr über in voller Pracht erstrahlt - individuell abgestimmt auf die Bedürfnisse Ihres Gartens.",
    images: [
      "/botanicus/gartenpflege.jpeg",
      "/botanicus/gartenpflege2.jpeg",
      "/botanicus/gartenpflege3.jpeg",
      "/botanicus/gartenpflege4.jpeg",
    ],
  },
  {
    title: "Landschaftsbau",
    description:
      "Mit kreativem Design und fachgerechter Ausführung verwandeln wir Ihre Außenbereiche in einzigartige Landschaften, die Ästhetik und Funktionalität vereinen.",
    images: [
      "/botanicus/landschaftsbau.jpeg",
      "/botanicus/landschaftsbau2.jpeg",
      "/botanicus/landschaftsbau3.jpeg",
      "/botanicus/landschaftsbau4.jpeg",
    ],
  },
];
---

<section class="pt-12 pb-12 md:py-32 bg-secondary" id="leistungen">
  <div class="container">
    <div class="flex items-center justify-between">
      <h2 class="text-4xl font-bold text-primary">Was wir anbieten</h2>
      <Button />
    </div>
    <div class="grid gap-6 mt-8 md:grid-cols-2">
      {
        services.map((s) => (
          <div class="bg-white">
            <div class="grid grid-cols-2">
              {s.images?.map((image, i) => (
                <img
                  src={image}
                  alt={s.title + " " + i}
                  class="object-cover aspect-[9/9]"
                />
              ))}
            </div>
            <div class="p-6">
              <h3 class="text-2xl font-bold text-primary">{s.title}</h3>
              <p class="mt-2 text-stone-600">{s.description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
<div class="w-full h-64 -mt-56 bg-primary"></div>
